# Core functionality - changes here should be rare!
/src/app.py                   @mushfiqwalid5-coder
/src/backend/database.py      @mushfiqwalid5-coder
/src/backend/routers/auth.py  @mushfiqwalid5-coder

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mushfiqwalid5-coder
